@using WebApp.Helpers;
<script src="~/Scripts/Views/vModificarTelefono1.js"></script>
@{ 
    Layout = "~/Views/Shared/_LayoutForms.cshtml"; 
}


<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <div>
                <h5>Modificar número de teléfono.</h5>
                <h5>Paso 1</h5>
            </div>
            <form id="formTelefono">

                @Html.CtrlInput(id: "txtTelefono", type: "text", label: "Número de teléfono", columnDataName: "telefono", placeHolder: "Ingresa tu número de teléfono móvil")

            </form>
            <div class="alert alert-success alert-dismissable" style="display: none" id="alert_container">
                <button type="button" class="close" onclick="$('.alert').hide()">&times;</button>
                <span id="alert_message"></span>
            </div>
            <div>
                @Html.CtrlButton(viewName: "vModificarTelefono1", id: "btnCreate", label: "Enviar", onClickFunction: "Create", buttonType: "primary")
            </div>
        </div>
    </div>
</div>
