@using WebApp.Helpers;

@{ Layout = "~/Views/Shared/_LayoutForms.cshtml"; }
@{
    ViewBag.Title = "vTerminosCondiciones";
}

<script src="~/Scripts/Views/vTerminosCondiciones.js"></script>

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <h3>Términos y Condiciones</h3>
            <p id="tc"></p>
                
        </div>
    </div>
</div>

