#map {
    height: 250px;
    width: 400px;
    margin-right: 25%;
}

#latitudLabel, #longitudLabel {
    display: none;
}

#Latitud, #Longitud {
    display: none;
}



#form {    
    margin-right: 25%;
    margin-bottom: 25%;
    border: none;
}

#inside {
    margin-left: 25%;
    align-items: center;
    
}

#button {

    margin-left: 50%;
    align-items: center;
}

#IdPropiedad {
    display: none;
}

#p {
    display: none;
}

#IdUsuario {

    display: none;
}

